<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>オーガニックキッチン発注画面</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my-custom.css" rel="stylesheet">

    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" >
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/singleOrder.js"></script>

    <script>
      $(function() {
        $("#datepicker").datepicker({
          minDate: '+3d',
          maxDate: '+3m'
        });
      });

      function aggregate() {
        var productTotalPrice = 0;
        var inputProductNumberArray = document.getElementsByClassName("inputProductNumber");
        var inputProductPriceArray  = document.getElementsByClassName("inputProductPrice");
        for (i = 0; i < inputProductNumberArray.length; i++) {
          var num   = parseInt(inputProductNumberArray[i].value);
          var price = parseInt(inputProductPriceArray[i].value);
          productTotalPrice += price * num;
        }
        $("#totalAndSendFee tbody tr:eq(0) td:eq(1)").empty();
        $("#totalAndSendFee tbody tr:eq(0) td:eq(1)").append(productTotalPrice);
      }

    </script>

  </head>

  <body>
    <div id="XMLHttpRequest"></div>
    <div id="textStatus"></div>
    <div id="errorThrown"></div>

    <div id="wrap">
          <!-- ヘッダー部分 ================ -->
            <nav class="navbar navbar-default navbar-fixed-top" >
              <div class="container-fluid">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="#">ORGANIC KITCHEN</a>
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                  </div>

                  <!-- 中央のナビゲーション部分 ================ -->
                  <div class="collapse navbar-collapse" id="nav_target">

                  <!-- 右寄せになる部分 ================ -->
                      <ul class="nav navbar-nav navbar-right">
                        <!-- リンクのみ -->
                          <li><a href="#">今週のメニュー</a></li>
                          <li><a href="#">ログアウト</a></li>

                      </ul>
                  </div>
              </div>
            </nav>
          <!-- ヘッダー終了 ================ -->

      <!-- <タブ>-->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">商品発注</a></li>
                <li><a href="#">定期発注</a></li>
                <li><a href="#">購入履歴</a></li>
                <li><a href="#">契約情報</a></li>
            </ul>
      <!-- <タブ終了>-->

      <!-- <表-->
        <div  class="row">
            <div >
              <h2 class="page-header"  style="margin-left:20px">商品発注</h2>

              <!-- 本体部分-->
              <div class="container">

                <!-- フォームの開始-->
                <div class="container col-md-10 col-sm-10 "style="margin-left:20px">
                  <form name="order" action="./single-order-confirm.html" method="POST">

                    <!-- セレクト-->
                      <!--<label>password</label>-->
                      <div class="date-form">
                        <label style="padding-top:10px;">配送日を選択する</label><br />
                        <input name="deliverDate" type="text" id="datepicker" style="width:100%; padding:6px 12px; height:34px; font-size:14px; border-radius:4px;" placeholder="日付を選択">
                      </div>
                      <div>
                        <!--<label>password</label>-->
                        <div class="select-box01">
                          <label style="padding-top:10px;">配送先選択</label><br />
                          <input type="radio" id="registeredDeliverAddress" name="deliverAddressSelect" value="regist" checked="checked"> 登録済みの配送先<br />
                            <pre type="text" name="deliverAddressRegist" style="width:100%; padding:6px 12px; height:34px; font-size:14px; border-radius:4px;">東京都中野区本町３丁目２３−５</pre>
                          <input type="radio" name="deliverAddressSelect" value="new"> 今回だけ指定<br />
                            <input type="text" name="deliverAddressNew" style="width:100%; padding:6px 12px; height:34px; font-size:14px; border-radius:4px;">
                        </div>
                      </div>

                      <!--テーブル-->

                      <table class="table" style="padding-top:10px;">
                        <thead>
                          <tr>
                            <th class="col-xs-3">品目</th>
                            <th>6/27(月)</th>
                            <th>6/28(火)</th>
                            <th>6/29(水)</th>
                            <th>6/30(木)</th>
                            <th>7/1(金)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- ここからJSで動的に埋める -->
                          <tr>
                              <td>マクロ</td>
                              <td><input type="number" name="productId_1[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="800" name="productId_1[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_1[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="800" name="productId_1[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_1[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="800" name="productId_1[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_1[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="800" name="productId_1[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_1[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="800" name="productId_1[]" class="inputProductPrice"></td>

                          </tr>
                          <tr>
                              <td>肉</td>
                              <td><input type="number" name="productId_2[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="600" name="productId_2[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_2[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="600" name="productId_2[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_2[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="600" name="productId_2[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_2[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="600" name="productId_2[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_2[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="600" name="productId_2[]" class="inputProductPrice"></td>

                          </tr>
                          <tr>
                              <td>魚</td>
                              <td><input type="number" name="productId_3[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="700" name="productId_3[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_3[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                <input type="hidden" value="700" name="productId_3[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_3[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="700" name="productId_3[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_3[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="700" name="productId_3[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_3[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="700" name="productId_3[]" class="inputProductPrice"></td>
                          </tr>
                          <tr>
                              <td>カレー</td>
                              <td><input type="number" name="productId_4[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="500" name="productId_4[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_4[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="500" name="productId_4[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_4[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="500" name="productId_4[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_4[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="500" name="productId_4[]" class="inputProductPrice"></td>
                              <td><input type="number" name="productId_4[]" value="0" placeholder="0" min="0" class="form-control inputProductNumber" onChange="aggregate()"></input>
                                  <input type="hidden" value="500" name="productId_4[]" class="inputProductPrice"></td>

                          </tr>
                          <!-- ここまでJSで動的に埋める -->
                        </tbody>
                    </table>
                    <a href="URL" target="_blank">商品単価の確認はこちら</a>
                    <table id="totalAndSendFee" class="table table-bordered" style="margin-top:20px;">
                      <thead>
                        <tr>
                          <th>項目名</th>
                          <th>金額</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>商品合計</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>送料</td>
                            <td>0</td><!-- JS -->
                        </tr>

                      </tbody>
                  </table>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">注文内容を確認する</button>

                  </form>
                  </div>



            </div>
      </div>

        <!--フッター-->
              <div id = "push"></div>
              <div id = "footer" >
                    <div class="row">
                          <div class="col-lg-12 col-sm-12 col-xs-12 ">
                    					<div class="container">
                    						<p class="text-muted fh5co-no-margin-bottom text-center"><small>&copy; 2016
                    						<a href="#">ORGANIC KITCHEN</a>. All rights reserved.
                              </div>
                        </div>
                      </div>
                </div>
          <!--フッターここまで-->
  </div>
  </body>

</html>
