<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>オーガニックキッチン発注画面</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my-custom.css" rel="stylesheet">

    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <!-- <div class="container-fluid">-->
            <div >
            <h3 class="page-header" style="margin-left:20px">ご注文ありがとうございます</h2>
            </div>
              <div style="margin:20px">
              <p>定期注文を承りました。</p>
              <p>発送の1週間前に、自動で注文処理が行われます。</p>
              <p>毎度メールで注文内容をお送りいたしましますので、ご確認下さい。</p>
              </br>
              <p>なお、変更およびキャンセルは、配送の２営業日前の朝10時までとなります。</p>
              </div>

            <div class="container col-md-5 col-sm-5 ">
              <button type="button" class="btn btn-primary btn-lg btn-block">TOPへ</button>
            </div>
      <div id = "push"></div>

      <div id = "footer" >
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 ">
					<div class="container">

						<p class="text-muted fh5co-no-margin-bottom text-center"><small>&copy; 2016
						<a href="#">ORGANIC KITCHEN</a>. All rights reserved.
          </div>
          </div>
          </div>
			</div>

  </div>
  </body>

</html>
